---
layout: default
---

<section>
  <article>
    <h1 class="article-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <div>
      {{ content }}
      <hr/>
      <footer>
        <dl>
          <dt>Published</dt><dd>{{ page.date | date: "%-d %B, %Y" }}</dd>
          <dt>License</dt><dd><a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0</a></dd>
          {% if page.slideshow %}<dt>Slideshow</dt><dd><a href="{{ page.slideshow }}">SlideShow</a></dd>{% endif %}
        </dl>
        {% if page.slideshow %}
        	<iframe src="https://docs.google.com/presentation/d/{{ page.slideshowId }}/embed?start=false&loop=false&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        {% endif %}
      </footer>
    </div>
  </article>
</section>